
#di{
  background-color: red;   
  border: 2px solid #333;      
  padding: 20px;
  margin: 20px;
  color: black;
  height: 250px;
  width: 250px;
}
div{
  display: block;
}
#dic1{
  background-color: blue; 
  border: 2px solid black;
  margin: 10px 0;
  padding: 10px;    
  height: 20px;
  width: 20px; 
  border-radius: 20px;
}
#div2{
    background-color: green; 
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 20%;
}
#div3{
    background-color: aqua; 
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-left: 20px; border-right: 20px; border-bottom: 20px;border-top: 20px;
}
button[type="submit"]{
  background-color: blue;
  color: black;
  border: 2px solid black;
  border-radius: 5%;
}
button[type="reset"]{
  background-color: red;
  color: black;
  border: 2px solid black;
  border-radius: 5%;
}
button:active[type="submit"]{
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 2px solid black;
}
button:active[type="reset"]{
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  color: black;
}


